 {
 padding: 0;
 margin: 0;
}
body {
 background-color: #B4B4B4FF;
}
.dasar {
 width: 380px;
 height: 280px;
 background:white;
 margin: 150px auto;
 /*opacity: 0.3;*/
 background-color: white;
}
.user {
 height: 36px;
 width: 215px;
 margin-left: 5px;
 vertical-align: top;
 border:1px white;
 text-align: center;
 outline-color: white;
 margin-top: 1px;
}
.username {
 width: 255px;
 height: 38px;
 background: white;
 margin: 30px auto;
 border: 1px solid black;
}
.usernam {
 width: 260px;
 height: 38px;
 background: white;
 margin: 30px auto;
 margin-top: -20px;
 border: 1px solid black;
}
.btn {
 width: 260px;
 height: 30px;
 background: #416AFFFF;
 border: 0;
 color: white;
 margin-top: 30px;
 cursor: pointer;
 font-weight: bold;

}
.btn:active {
 transform: translateY(3px);
 background-color: white;
}
.logo {
 width: 100px;
 height: 60px;
 margin:40px auto;
}
.ats {
 width: 380px;
 height: 45px;
 background-color: #416AFFFF;
 color: white;
}











     -




